/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/logo/.tmb
/public/uploads/.tmb
/storage/*.key
/resources/source
/vendor
.env
.env.backup
auth.json
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
package-lock.json
_ide_helper.php
.phpstorm.meta.php
/resources/views/vendor/maileclipse
storage/api-docs/*
/.vscode
resources/theme
